USE [MunicipalRentDB]
GO
/****** Object:  Table [dbo].[audit_log]    Script Date: 21.05.2026 21:11:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[audit_log](
	[id_log] [int] IDENTITY(1,1) NOT NULL,
	[id_employee] [int] NOT NULL,
	[action_type] [nvarchar](30) NOT NULL,
	[table_name] [nvarchar](50) NOT NULL,
	[record_id] [int] NOT NULL,
	[action_datetime] [datetime] NULL,
	[old_value] [nvarchar](max) NULL,
	[new_value] [nvarchar](max) NULL,
	[ip_address] [nvarchar](45) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_log] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contracts]    Script Date: 21.05.2026 21:11:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contracts](
	[id_contract] [int] NOT NULL,
	[contract_number] [nvarchar](50) NOT NULL,
	[id_object] [int] NOT NULL,
	[id_tenant] [int] NOT NULL,
	[id_responsible_employee] [int] NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NOT NULL,
	[monthly_rate] [decimal](10, 2) NULL,
	[payment_day] [int] NULL,
	[contract_status] [nvarchar](30) NULL,
	[notes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_contract] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[contract_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employees]    Script Date: 21.05.2026 21:11:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employees](
	[id_employee] [int] NOT NULL,
	[last_name] [nvarchar](50) NOT NULL,
	[first_name] [nvarchar](50) NOT NULL,
	[middle_name] [nvarchar](50) NULL,
	[id_position] [int] NULL,
	[department] [nvarchar](100) NULL,
	[phone] [nvarchar](20) NULL,
	[email] [nvarchar](100) NULL,
	[hire_date] [date] NULL,
	[login] [nvarchar](50) NOT NULL,
	[password] [nvarchar](100) NOT NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_employee] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[objects]    Script Date: 21.05.2026 21:11:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[objects](
	[id_object] [int] NOT NULL,
	[address] [nvarchar](200) NOT NULL,
	[cadastral_number] [nvarchar](50) NULL,
	[type] [nvarchar](50) NOT NULL,
	[total_area] [decimal](10, 2) NULL,
	[purpose] [nvarchar](100) NULL,
	[condition] [nvarchar](50) NULL,
	[is_rented_now] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_object] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[cadastral_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payments]    Script Date: 21.05.2026 21:11:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payments](
	[id_payment] [int] NOT NULL,
	[id_contract] [int] NOT NULL,
	[payment_date] [date] NOT NULL,
	[period_month] [date] NOT NULL,
	[amount] [decimal](10, 2) NULL,
	[payment_type] [nvarchar](30) NULL,
	[is_penalty] [bit] NULL,
	[id_employee_who_accepted] [int] NOT NULL,
	[receipt_number] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_payment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[positions]    Script Date: 21.05.2026 21:11:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[positions](
	[id_position] [int] NOT NULL,
	[position_name] [nvarchar](100) NOT NULL,
	[salary_grade] [nvarchar](50) NULL,
	[access_level] [int] NULL,
	[base_salary] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_position] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[position_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tenants]    Script Date: 21.05.2026 21:11:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tenants](
	[id_tenant] [int] NOT NULL,
	[type] [nvarchar](20) NULL,
	[inn] [nvarchar](12) NOT NULL,
	[ogrn] [nvarchar](15) NULL,
	[short_name] [nvarchar](100) NOT NULL,
	[full_name] [nvarchar](200) NULL,
	[phone] [nvarchar](20) NULL,
	[email] [nvarchar](100) NULL,
	[legal_address] [nvarchar](200) NULL,
	[registration_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tenant] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[inn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 21.05.2026 21:11:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id_user] [int] IDENTITY(1,1) NOT NULL,
	[login] [nvarchar](50) NOT NULL,
	[password] [nvarchar](100) NOT NULL,
	[full_name] [nvarchar](150) NULL,
	[email] [nvarchar](100) NULL,
	[phone] [nvarchar](20) NULL,
	[role] [nvarchar](30) NOT NULL,
	[is_blocked] [bit] NULL,
	[last_login] [datetime] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[audit_log] ADD  DEFAULT (getdate()) FOR [action_datetime]
GO
ALTER TABLE [dbo].[contracts] ADD  DEFAULT (N'действует') FOR [contract_status]
GO
ALTER TABLE [dbo].[employees] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[objects] ADD  DEFAULT ((0)) FOR [is_rented_now]
GO
ALTER TABLE [dbo].[payments] ADD  DEFAULT (N'безналичный') FOR [payment_type]
GO
ALTER TABLE [dbo].[payments] ADD  DEFAULT ((0)) FOR [is_penalty]
GO
ALTER TABLE [dbo].[positions] ADD  DEFAULT ((1)) FOR [access_level]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [is_blocked]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[audit_log]  WITH CHECK ADD FOREIGN KEY([id_employee])
REFERENCES [dbo].[employees] ([id_employee])
GO
ALTER TABLE [dbo].[contracts]  WITH CHECK ADD FOREIGN KEY([id_object])
REFERENCES [dbo].[objects] ([id_object])
GO
ALTER TABLE [dbo].[contracts]  WITH CHECK ADD FOREIGN KEY([id_responsible_employee])
REFERENCES [dbo].[employees] ([id_employee])
GO
ALTER TABLE [dbo].[contracts]  WITH CHECK ADD FOREIGN KEY([id_tenant])
REFERENCES [dbo].[tenants] ([id_tenant])
GO
ALTER TABLE [dbo].[employees]  WITH CHECK ADD FOREIGN KEY([id_position])
REFERENCES [dbo].[positions] ([id_position])
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD FOREIGN KEY([id_contract])
REFERENCES [dbo].[contracts] ([id_contract])
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD FOREIGN KEY([id_employee_who_accepted])
REFERENCES [dbo].[employees] ([id_employee])
GO
ALTER TABLE [dbo].[contracts]  WITH CHECK ADD CHECK  (([monthly_rate]>(0)))
GO
ALTER TABLE [dbo].[contracts]  WITH CHECK ADD CHECK  (([payment_day]>=(1) AND [payment_day]<=(31)))
GO
ALTER TABLE [dbo].[objects]  WITH CHECK ADD CHECK  (([total_area]>(0)))
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD CHECK  (([amount]>(0)))
GO
ALTER TABLE [dbo].[positions]  WITH CHECK ADD CHECK  (([access_level]=(3) OR [access_level]=(2) OR [access_level]=(1)))
GO
ALTER TABLE [dbo].[positions]  WITH CHECK ADD CHECK  (([base_salary]>=(0)))
GO
ALTER TABLE [dbo].[tenants]  WITH CHECK ADD CHECK  (([type]=N'Юрлицо' OR [type]=N'ИП'))
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD CHECK  (([role]='viewer' OR [role]='tenant' OR [role]='property_worker' OR [role]='accountant' OR [role]='admin'))
GO
