USE [MunicipalRentDB]
GO
/****** Object:  Table [dbo].[audit_log]    Script Date: 24.05.2026 0:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[audit_log](
	[id_log] [int] IDENTITY(1,1) NOT NULL,
	[id_employee] [int] NOT NULL,
	[action_type] [nvarchar](30) NOT NULL,
	[table_name] [nvarchar](50) NOT NULL,
	[record_id] [int] NOT NULL,
	[action_datetime] [datetime] NULL,
	[old_value] [nvarchar](max) NULL,
	[new_value] [nvarchar](max) NULL,
	[ip_address] [nvarchar](45) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_log] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contracts]    Script Date: 24.05.2026 0:02:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contracts](
	[id_contract] [int] NOT NULL,
	[contract_number] [nvarchar](50) NOT NULL,
	[id_object] [int] NOT NULL,
	[id_tenant] [int] NOT NULL,
	[id_responsible_employee] [int] NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NOT NULL,
	[monthly_rate] [decimal](10, 2) NULL,
	[payment_day] [int] NULL,
	[contract_status] [nvarchar](30) NULL,
	[notes] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_contract] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employees]    Script Date: 24.05.2026 0:02:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employees](
	[id_employee] [int] NOT NULL,
	[last_name] [nvarchar](50) NOT NULL,
	[first_name] [nvarchar](50) NOT NULL,
	[middle_name] [nvarchar](50) NULL,
	[id_position] [int] NULL,
	[department] [nvarchar](100) NULL,
	[phone] [nvarchar](20) NULL,
	[email] [nvarchar](100) NULL,
	[hire_date] [date] NULL,
	[login] [nvarchar](50) NOT NULL,
	[password] [nvarchar](100) NOT NULL,
	[is_active] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_employee] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[objects]    Script Date: 24.05.2026 0:02:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[objects](
	[id_object] [int] NOT NULL,
	[address] [nvarchar](200) NOT NULL,
	[cadastral_number] [nvarchar](50) NULL,
	[type] [nvarchar](50) NOT NULL,
	[total_area] [decimal](10, 2) NULL,
	[purpose] [nvarchar](100) NULL,
	[condition] [nvarchar](50) NULL,
	[is_rented_now] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_object] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payments]    Script Date: 24.05.2026 0:02:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payments](
	[id_payment] [int] NOT NULL,
	[id_contract] [int] NOT NULL,
	[payment_date] [date] NOT NULL,
	[period_month] [date] NOT NULL,
	[amount] [decimal](10, 2) NULL,
	[payment_type] [nvarchar](30) NULL,
	[is_penalty] [bit] NULL,
	[id_employee_who_accepted] [int] NOT NULL,
	[receipt_number] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_payment] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[positions]    Script Date: 24.05.2026 0:02:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[positions](
	[id_position] [int] NOT NULL,
	[position_name] [nvarchar](100) NOT NULL,
	[salary_grade] [nvarchar](50) NULL,
	[access_level] [int] NULL,
	[base_salary] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_position] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tenants]    Script Date: 24.05.2026 0:02:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tenants](
	[id_tenant] [int] NOT NULL,
	[type] [nvarchar](20) NULL,
	[inn] [nvarchar](12) NOT NULL,
	[ogrn] [nvarchar](15) NULL,
	[short_name] [nvarchar](100) NOT NULL,
	[full_name] [nvarchar](200) NULL,
	[phone] [nvarchar](20) NULL,
	[email] [nvarchar](100) NULL,
	[legal_address] [nvarchar](200) NULL,
	[registration_date] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tenant] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 24.05.2026 0:02:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id_user] [int] IDENTITY(1,1) NOT NULL,
	[login] [nvarchar](50) NOT NULL,
	[password] [nvarchar](100) NOT NULL,
	[full_name] [nvarchar](150) NULL,
	[email] [nvarchar](100) NULL,
	[phone] [nvarchar](20) NULL,
	[role] [nvarchar](30) NOT NULL,
	[is_blocked] [bit] NULL,
	[last_login] [datetime] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[audit_log] ON 

INSERT [dbo].[audit_log] ([id_log], [id_employee], [action_type], [table_name], [record_id], [action_datetime], [old_value], [new_value], [ip_address]) VALUES (1, 2, N'UPDATE', N'payments', 1, CAST(N'2026-05-20T20:16:07.037' AS DateTime), N'старое значение', N'новое значение', N'192.168.1.1')
INSERT [dbo].[audit_log] ([id_log], [id_employee], [action_type], [table_name], [record_id], [action_datetime], [old_value], [new_value], [ip_address]) VALUES (2, 3, N'DELETE', N'tenants', 2, CAST(N'2026-05-20T19:16:07.037' AS DateTime), NULL, NULL, N'192.168.1.2')
INSERT [dbo].[audit_log] ([id_log], [id_employee], [action_type], [table_name], [record_id], [action_datetime], [old_value], [new_value], [ip_address]) VALUES (3, 4, N'LOGIN', N'contracts', 3, CAST(N'2026-05-20T18:16:07.037' AS DateTime), NULL, NULL, N'192.168.1.3')
GO
SET IDENTITY_INSERT [dbo].[audit_log] OFF
GO
INSERT [dbo].[contracts] ([id_contract], [contract_number], [id_object], [id_tenant], [id_responsible_employee], [start_date], [end_date], [monthly_rate], [payment_day], [contract_status], [notes]) VALUES (1, N'Д-2025/1', 2, 2, 2, CAST(N'2026-04-20' AS Date), CAST(N'2027-05-20' AS Date), CAST(6000.00 AS Decimal(10, 2)), 6, N'действует', NULL)
INSERT [dbo].[contracts] ([id_contract], [contract_number], [id_object], [id_tenant], [id_responsible_employee], [start_date], [end_date], [monthly_rate], [payment_day], [contract_status], [notes]) VALUES (2, N'Д-2025/2', 3, 3, 3, CAST(N'2026-03-20' AS Date), CAST(N'2027-05-20' AS Date), CAST(7000.00 AS Decimal(10, 2)), 7, N'действует', NULL)
INSERT [dbo].[contracts] ([id_contract], [contract_number], [id_object], [id_tenant], [id_responsible_employee], [start_date], [end_date], [monthly_rate], [payment_day], [contract_status], [notes]) VALUES (3, N'Д-2025/3', 4, 4, 4, CAST(N'2026-02-20' AS Date), CAST(N'2027-05-20' AS Date), CAST(8000.00 AS Decimal(10, 2)), 8, N'действует', NULL)
GO
INSERT [dbo].[employees] ([id_employee], [last_name], [first_name], [middle_name], [id_position], [department], [phone], [email], [hire_date], [login], [password], [is_active]) VALUES (1, N'Волков', N'Андрей', N'Сергеевич', 1, N'Отдел имущественных отношений', N'8(83362)4-11-11', N'volkov@slobodskoy.ru', CAST(N'2015-03-10' AS Date), N'volkov_as', N'admin123', 1)
INSERT [dbo].[employees] ([id_employee], [last_name], [first_name], [middle_name], [id_position], [department], [phone], [email], [hire_date], [login], [password], [is_active]) VALUES (2, N'Кузнецова', N'Елена', N'Владимировна', 2, N'Отдел имущественных отношений', N'8(83362)4-11-12', N'kuznetsova@slobodskoy.ru', CAST(N'2016-07-15' AS Date), N'kuznetsova_ev', N'buh2026', 1)
INSERT [dbo].[employees] ([id_employee], [last_name], [first_name], [middle_name], [id_position], [department], [phone], [email], [hire_date], [login], [password], [is_active]) VALUES (3, N'Смирнов', N'Дмитрий', N'Алексеевич', 3, N'Отдел имущественных отношений', N'8(83362)4-11-13', N'smirnov@slobodskoy.ru', CAST(N'2018-04-20' AS Date), N'smirnov_da', N'pass123', 1)
GO
INSERT [dbo].[objects] ([id_object], [address], [cadastral_number], [type], [total_area], [purpose], [condition], [is_rented_now]) VALUES (1, N'г. Слободской, ул. Советская, д. 15', N'43:07:010215:123', N'здание', CAST(245.50 AS Decimal(10, 2)), N'административное', N'хорошее', 1)
INSERT [dbo].[objects] ([id_object], [address], [cadastral_number], [type], [total_area], [purpose], [condition], [is_rented_now]) VALUES (2, N'г. Слободской, ул. Ленина, д. 22', N'43:07:010215:124', N'помещение', CAST(85.20 AS Decimal(10, 2)), N'торговое', N'хорошее', 1)
INSERT [dbo].[objects] ([id_object], [address], [cadastral_number], [type], [total_area], [purpose], [condition], [is_rented_now]) VALUES (3, N'г. Слободской, пер. Садовый, д. 3', N'43:07:020101:001', N'гараж', CAST(45.00 AS Decimal(10, 2)), N'склад', N'удовлетворительное', 0)
GO
INSERT [dbo].[payments] ([id_payment], [id_contract], [payment_date], [period_month], [amount], [payment_type], [is_penalty], [id_employee_who_accepted], [receipt_number]) VALUES (1, 2, CAST(N'2026-04-20' AS Date), CAST(N'2026-04-01' AS Date), CAST(7000.00 AS Decimal(10, 2)), N'безналичный', 0, 2, N'КВ-2025-1')
INSERT [dbo].[payments] ([id_payment], [id_contract], [payment_date], [period_month], [amount], [payment_type], [is_penalty], [id_employee_who_accepted], [receipt_number]) VALUES (2, 3, CAST(N'2026-03-20' AS Date), CAST(N'2026-03-01' AS Date), CAST(8000.00 AS Decimal(10, 2)), N'безналичный', 0, 3, N'КВ-2025-2')
INSERT [dbo].[payments] ([id_payment], [id_contract], [payment_date], [period_month], [amount], [payment_type], [is_penalty], [id_employee_who_accepted], [receipt_number]) VALUES (3, 4, CAST(N'2026-02-20' AS Date), CAST(N'2026-02-01' AS Date), CAST(9000.00 AS Decimal(10, 2)), N'наличный', 0, 4, N'КВ-2025-3')
GO
INSERT [dbo].[positions] ([id_position], [position_name], [salary_grade], [access_level], [base_salary]) VALUES (1, N'Начальник отдела имущественных отношений', N'Высшая категория', 3, CAST(65000.00 AS Decimal(10, 2)))
INSERT [dbo].[positions] ([id_position], [position_name], [salary_grade], [access_level], [base_salary]) VALUES (2, N'Заместитель начальника отдела', N'Первая категория', 2, CAST(52000.00 AS Decimal(10, 2)))
INSERT [dbo].[positions] ([id_position], [position_name], [salary_grade], [access_level], [base_salary]) VALUES (3, N'Главный специалист', N'Вторая категория', 2, CAST(45000.00 AS Decimal(10, 2)))
GO
INSERT [dbo].[tenants] ([id_tenant], [type], [inn], [ogrn], [short_name], [full_name], [phone], [email], [legal_address], [registration_date]) VALUES (1, N'Юрлицо', N'434501234567', N'1044312345678', N'ООО "Вятка"', N'Общество с ограниченной ответственностью "Вятка"', N'8-912-345-67-89', N'vyatka@mail.ru', N'г. Слободской, ул. Ленина, 10', CAST(N'2010-03-15' AS Date))
INSERT [dbo].[tenants] ([id_tenant], [type], [inn], [ogrn], [short_name], [full_name], [phone], [email], [legal_address], [registration_date]) VALUES (2, N'ИП', N'434502345678', NULL, N'ИП Иванов И.И.', N'Иванов Иван Иванович', N'8-912-345-67-90', N'ivanov@mail.ru', N'г. Слободской, ул. Советская, 5', CAST(N'2015-06-20' AS Date))
INSERT [dbo].[tenants] ([id_tenant], [type], [inn], [ogrn], [short_name], [full_name], [phone], [email], [legal_address], [registration_date]) VALUES (3, N'Юрлицо', N'434503456789', N'1054312345679', N'ООО "Рассвет"', N'Общество с ограниченной ответственностью "Рассвет"', N'8-912-345-67-91', N'rassvet@mail.ru', N'г. Слободской, ул. Кирова, 15', CAST(N'2008-11-01' AS Date))
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id_user], [login], [password], [full_name], [email], [phone], [role], [is_blocked], [last_login], [created_at]) VALUES (1, N'admin', N'admin123', N'Системный администратор', N'admin@slobodskoy.ru', N'8(83362)4-11-11', N'admin', 0, CAST(N'2026-05-21T20:48:41.423' AS DateTime), CAST(N'2026-05-21T20:48:41.423' AS DateTime))
INSERT [dbo].[users] ([id_user], [login], [password], [full_name], [email], [phone], [role], [is_blocked], [last_login], [created_at]) VALUES (2, N'glavniy_admin', N'root123', N'Главный администратор', N'root@slobodskoy.ru', N'8(83362)4-11-12', N'admin', 0, CAST(N'2026-05-21T20:48:41.423' AS DateTime), CAST(N'2026-05-21T20:48:41.423' AS DateTime))
INSERT [dbo].[users] ([id_user], [login], [password], [full_name], [email], [phone], [role], [is_blocked], [last_login], [created_at]) VALUES (3, N'buh_elena', N'buh123', N'Кузнецова Елена Владимировна', N'buh@slobodskoy.ru', N'8(83362)4-12-01', N'accountant', 0, CAST(N'2026-05-21T20:48:41.423' AS DateTime), CAST(N'2026-05-21T20:48:41.423' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__contract__1CA37CCE53519078]    Script Date: 24.05.2026 0:02:07 ******/
ALTER TABLE [dbo].[contracts] ADD UNIQUE NONCLUSTERED 
(
	[contract_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__employee__7838F2724FE19349]    Script Date: 24.05.2026 0:02:07 ******/
ALTER TABLE [dbo].[employees] ADD UNIQUE NONCLUSTERED 
(
	[login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__employee__AB6E6164937FCE1F]    Script Date: 24.05.2026 0:02:07 ******/
ALTER TABLE [dbo].[employees] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__objects__B6BD7C76D9C137E1]    Script Date: 24.05.2026 0:02:07 ******/
ALTER TABLE [dbo].[objects] ADD UNIQUE NONCLUSTERED 
(
	[cadastral_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__position__0030EAD75792BAE8]    Script Date: 24.05.2026 0:02:07 ******/
ALTER TABLE [dbo].[positions] ADD UNIQUE NONCLUSTERED 
(
	[position_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tenants__DC50F6D3078F4644]    Script Date: 24.05.2026 0:02:07 ******/
ALTER TABLE [dbo].[tenants] ADD UNIQUE NONCLUSTERED 
(
	[inn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__7838F272CC739F50]    Script Date: 24.05.2026 0:02:07 ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[audit_log] ADD  DEFAULT (getdate()) FOR [action_datetime]
GO
ALTER TABLE [dbo].[contracts] ADD  DEFAULT (N'действует') FOR [contract_status]
GO
ALTER TABLE [dbo].[employees] ADD  DEFAULT ((1)) FOR [is_active]
GO
ALTER TABLE [dbo].[objects] ADD  DEFAULT ((0)) FOR [is_rented_now]
GO
ALTER TABLE [dbo].[payments] ADD  DEFAULT (N'безналичный') FOR [payment_type]
GO
ALTER TABLE [dbo].[payments] ADD  DEFAULT ((0)) FOR [is_penalty]
GO
ALTER TABLE [dbo].[positions] ADD  DEFAULT ((1)) FOR [access_level]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT ((0)) FOR [is_blocked]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[audit_log]  WITH CHECK ADD FOREIGN KEY([id_employee])
REFERENCES [dbo].[employees] ([id_employee])
GO
ALTER TABLE [dbo].[contracts]  WITH CHECK ADD FOREIGN KEY([id_object])
REFERENCES [dbo].[objects] ([id_object])
GO
ALTER TABLE [dbo].[contracts]  WITH CHECK ADD FOREIGN KEY([id_responsible_employee])
REFERENCES [dbo].[employees] ([id_employee])
GO
ALTER TABLE [dbo].[contracts]  WITH CHECK ADD FOREIGN KEY([id_tenant])
REFERENCES [dbo].[tenants] ([id_tenant])
GO
ALTER TABLE [dbo].[employees]  WITH CHECK ADD FOREIGN KEY([id_position])
REFERENCES [dbo].[positions] ([id_position])
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD FOREIGN KEY([id_contract])
REFERENCES [dbo].[contracts] ([id_contract])
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD FOREIGN KEY([id_employee_who_accepted])
REFERENCES [dbo].[employees] ([id_employee])
GO
ALTER TABLE [dbo].[contracts]  WITH CHECK ADD CHECK  (([monthly_rate]>(0)))
GO
ALTER TABLE [dbo].[contracts]  WITH CHECK ADD CHECK  (([payment_day]>=(1) AND [payment_day]<=(31)))
GO
ALTER TABLE [dbo].[objects]  WITH CHECK ADD CHECK  (([total_area]>(0)))
GO
ALTER TABLE [dbo].[payments]  WITH CHECK ADD CHECK  (([amount]>(0)))
GO
ALTER TABLE [dbo].[positions]  WITH CHECK ADD CHECK  (([access_level]=(3) OR [access_level]=(2) OR [access_level]=(1)))
GO
ALTER TABLE [dbo].[positions]  WITH CHECK ADD CHECK  (([base_salary]>=(0)))
GO
ALTER TABLE [dbo].[tenants]  WITH CHECK ADD CHECK  (([type]=N'Юрлицо' OR [type]=N'ИП'))
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD CHECK  (([role]='viewer' OR [role]='tenant' OR [role]='property_worker' OR [role]='accountant' OR [role]='admin'))
GO
